img.i {
    width: 650px;
    height: 750px;
}

img.o {
    width: 50px;
    height: 50px;
}

div.i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

table.i {
    top: 90px;
    left: 750px;
    width: 350px;
    height: 600px;
    padding: 3%;
    border: 5px solid #8ac007;
}

button.i {
    top: 700px;
    left: 830px;
    width: 200px;
}

img, div.i, table.i, button.i {
    position: fixed;
}